$purple: #B200FF;
$green: #00E766;
$red: #FF0000;
$orange: #FFC202;
$blue: #0078FF;

@media screen and (min-width: 1080px){

  #navbar{
    background-color: black;
    width: 15vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    .logo{

      width: 80%;
      margin: 2vw;
      margin-left: 1vw;
      filter: brightness(80%);

      &:hover{

        width: 85%;
        margin: calc(2vw - 2.5%);
        margin-left: calc(1vw - 2.5%);
        filter: brightness(100%);
      }
    }

  }

  .navbar-def{

    transform: translateX(-20vw);
  }

  .navbar-nav{

    transform: translateX(0vw);
  }

  .navbtn{

    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    color: #B0B0B0;
    margin: 1vw;
    transition: 0.1s ease;

    div{
      width: 0%;
      background-color: black;
      height: 0.5vw;
      border-radius: 0.1vw;
      transition: all 0.3s ease;
    }

    h1{
      font-size: 2.5vw;
      margin: 0.3vw;
      font-family: Questrial, sans-serif;
      font-weight: 900;
    }

    &:hover{
      div{
        width: 100%;
      }
    }
  }

  #navfab{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: red;
    border: 5px solid white;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    svg{
      width: 80%;
      height: 80%;
      margin: 10%;
      fill: white;
      }
      &:hover{

        background-color: darkred;
      }
  }

  .navfab-def{
    bottom: 2vw;
    left: 2vw;

    svg{

      transform: rotateZ(0)
    }
  }

  .navfab-nav{
    bottom: 2vw;
    left: calc(20vw - 120px);
    svg{

      transform: rotateZ(-180deg)
    }
  }

}

@media only screen and (max-width: 1080px){

  #navbar{
    background-color: rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{

      width: 40%;
      margin-top: 5%;
      margin-left: 30%;
      filter: brightness(80%);
      transform: scale(1);

      &:hover{

        transform: scale(1.1);
        filter: brightness(100%);
      }
    }
  }

  .navbar-def{

    transform: translateX(100vw);
  }

  .navbar-nav{

    transform: translateX(0vw);
  }

  .btns{
    flex: 1;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  a{
    width: fit-content;
  }

  .navbtn{

    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    color: #B0B0B0;
    margin: auto;
    margin-top: 3vw;
    width: fit-content;
    align-items: center;


    div{
      width: 0%;
      margin-left: 50%;
      background-color: black;
      height: 2vw;
      border-radius: 2vw;
      transition: all 0.3s ease;
    }

    h1{
      font-size: 8vw;
      margin: 0.5vw;
      font-family: Questrial, sans-serif;
      font-weight: 800;
    }


  }

  #navfab{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: red;
    border: 5px solid white;
    position: fixed;
    z-index: 9;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    svg{
      width: 80%;
      height: 80%;
      margin: 10%;
      fill: white;
      }
      &:hover{
        background-color: darkred;
      }
  }

  .navfab-def{
    bottom: 20px;
    right: 20px;
    opacity: 1;
    svg{
      transform: rotateZ(0)
    }
  }

  .navfab-nav{
    bottom: 20px;
    right: 120px;
    opacity: 0;
    svg{
      transform: rotateZ(-180deg)
    }
  }

}


// COLORS

.selected{

  color: white;
}

.nav-purple{
  div{
    background-color: lighten($purple, 20%);
  }
  &:hover{
    color: lighten($purple, 20%);
  }
}

.nav-blue{
  div{
    background-color: $blue;
  }
  &:hover{
    color: $blue;
  }
}

.nav-red{
  div{
    background-color: $red;
  }
  &:hover{
    color: $red;
  }
}

.nav-orange{
  div{
    background-color: $orange;
  }
  &:hover{
    color: $orange;
  }
}

.nav-green{
  div{
    background-color: $green;
  }
  &:hover{
    color: $green;
  }
}

// POINTER

#pointer{
  width: 60px;
  height: 60px;

  border-radius: 20px;
  z-index: 5;
  position: fixed;
  pointer-events: none;
  transition: all 0.1s ease;
}

#path{
  transform-origin: center center;
}

#cursor-toggle{
  background-color: rgba(255,255,255,0.2);
  width: 3vw;
  height: 3vw;
  border-radius: 4vw;
  position: absolute;
  bottom: 1.5vw;
  left: 1.5vw;
  svg{
    width: 60%;
    height: 60%;
    margin: 20%;
  }
  &:hover{
    background-color: rgba(255,255,255,0.3);
  }
}

.white{

  fill: white;
}


